
p {
    color: rgb(230, 230, 240);
    background-color: rgb(26, 35, 59);
    border-color: rgb(18, 25, 46);

    border-radius: 32px;
    border-width: 2px;

    padding: 18px;
}

body {
    background-color: rgb(40, 50, 80);
    font-family: Arial, Helvetica, sans-serif;
}

textarea {
    color: rgb(230, 230, 240);
    background-color: rgb(37, 48, 80);
    border-color: rgb(26, 35, 59);
    border-radius: 16px;
    border-width: 5px;
    /* width: 12px; */
}

div.title {
    color: rgb(230, 230, 240);
    background-color: rgb(26, 35, 59);
    border-radius: 16px;
    border-color: rgb(18, 25, 46);
    border-width: 5px;
    padding: 18px;
}

div.content {
    padding-top: 5vh;

    /* background-color: rgb(26, 35, 61); */
}

div.everything {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90vh;
    max-width: 600px;
    margin: 0 auto;
}

#credits {
    max-width: 400px;
    margin: 0 auto;
}

h1, h2, h3 {
    color: rgb(230, 230, 240);
}

h2 {
    font-size: 24px;
}


div.textAreas {
    background-color: rgb(26, 35, 59);
    border-radius: 16px;
    border-color: rgb(18, 25, 46);
    padding: 18px;
    column-count: 2;
}

button {
    background-color: rgb(26, 35, 59);
    border-color: rgb(18, 25, 46);
    border-style: solid;
    border-radius: 16px;
    border-width: 2px;
    min-height: 32px;
    padding-right: 12px;
    padding-left: 12px;
    color: rgb(230, 230, 240);
}

button:hover {
    background-color: rgb(37, 48, 80);
    border-color: rgb(26, 35, 59);
    cursor: pointer;
}

a {
    color: deepskyblue;
}
